
/****************************************************SERVICOS******************************************************************/
.img-dimension{
    height: 600px;
}

.servicos
{
    margin-top: 100px;
}

.ser-textos{
    text-align: center;
}


.div-1{
    padding-top: 10px;
    margin: auto;
    background-color:aliceblue;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 8px 4px  rgba(15, 15, 15, 0.116);    
}

.div-2{
    padding-top: 10px;
    margin: auto;
    background-color:aliceblue;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px  rgba(15, 15, 15, 0.116);   
}
.servicos-img{
    margin-bottom: 60px;
   
}
p a{
    color:brown;
}

/*--------------------RESPONSIVIDADE-----------------------------------*/
@media screen and (min-width: 601px) {
    .div-1, .div-2 {
      font-size: 25px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .div-1, .div-2 {
        font-size: 25px;
    }
  }






/***************************************************************SOBRE NOS***************************************************************/


.sobre-textos{
    margin-top: 50px;
    
}
.motiva{
    margin: auto;
}